@import url(./branding.css);

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: scroll;
}

.hidden {
  display: none;
}

::-webkit-scrollbar {
  max-width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #1d2129;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--border-radius);
}

/* CONTAINER */
.container {
  /* background-color: var(--background-main); */
  background-image: url('../images/etc/bg.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-origin: 0 0;
  background-repeat: repeat-y;
  width: 100vw;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.mid {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.mid img {
  max-width: 150px;
}

.hero {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  align-content: center;
}

.title {
  font-weight: 300;
  font-size: 40pt;
}

.subtitle {
  max-width: 80%;
  font-size: 16pt;
  font-weight: 100;
  text-transform: none;
  opacity: var(--text-fade-opacity);
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.link {
  background-color: var(--background-main);
  border-radius: var(--border-radius);
  min-width: 400px;
  max-width: 60%;
  height: 80px;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
  filter: var(--base-drop-shadow);
  cursor: pointer;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20%;
}

.link .linkName {
  font-weight: 200;
  font-size: 14pt;
}

.link .linkURL a {
  text-transform: none;
  font-weight: 100;
  font-size: 10pt;
  opacity: var(--text-fade-opacity);
}

.link:hover {
  transition: all 0.5s;
  background-color: var(--brand-color-dark);
}

.link:hover .linkURL a {
  transition: all 0.5s;
  opacity: 1;
  text-decoration: underline;
}

.link:not(:hover) {
  transition: all 0.5s;
  background-color: var(--background-main);
}

.link:not(:hover) .linkURL a {
  transition: all 0.5s;
  opacity: var(--text-fade-opacity);
}

.frame {
  margin-top: 50px;
}

@media only screen and (max-width: 600px) {
  .linkURL {
    display: none;
  }

  .link {
    align-items: center;
    justify-content: center;
    min-width: 250px !important;
    padding: 0 !important;
  }

  .linkName {
    font-size: 10pt !important;
    font-weight: 100 !important;
  }
}
